{% extends "auctions/layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css">

<div class="container">
    <h2 class="title is-2"> Your bidding result</h2>
    <p>The bid is: {{ current_bid }}</p>
    <div class="block"></div>
    <p>Your bid is {{ bid_amount }}</p>
    <div class="block"></div>
    <p>{{ result }}</p>
    <div class="block"></div>
    <p><a href='{% url 'listing' itemid=item_id %}'> Go back to the listing</a></p>
</div>


{% endblock %}