{% extends "auctions/layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css">

<style>
  .listing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 50%%;
  }
  .comments {
    margin-top: 20px;
    flex-direction: column;
    flex: 0.3;
  }
  .listing-info {
    flex: 0.3;
    padding-right: 20px;
  }
  .listing-image {
    flex: 0.3;
  }
  .comment-detail{
    margin-top:20px;
    border-bottom: 1px solid grey;
  }
  .actions-container{
    display: block;
    margin: 10px 0px 20px 0px
  }
</style>

{% if listing %}
<div class="listing">
  <div class="listing-info">
    <h1 class="title is-1">{{ listing.item.title }}</h1>
    <p>{{ listing.item.desc }}</p>
    <p>Starting at: {{ listing.item.floor_price }}</p>
    <p>Ends at: {{ listing.date_end }}

    {% if user.is_authenticated %}
    <div class="actions-container">
      <!-- Close listing -->
      {% if user.username|stringformat:"s" == listing.item.owner_id|stringformat:"s" %}
        <form method="post" action="{% url 'close_listing' item_id=listing.item.id %}">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ listing.item.id }}">
          <button class="button is-primary" type="submit">Close Listing</button>
        </form>
      {% else %}
        <p>Item owned by {{ listing.item.owner_id|default_if_none:"None"|default:"Unknown" }}</p>
        {% endif %}

      {% if listing.item.id in watchlist_items %}
        <!-- Watchlisted, show remove -->
        <a href="{% url 'remove_watchlist' item_id=listing.item.id %}"><button class="button is-primary">Remove from my watchlist</button></a>        
        {% else %}
        <hr class="solid">
        <!-- Not watchlisted, show add -->
        <a href="{% url 'add_watchlist' item_id=listing.item.id %}"><button class="button is-primary">Save to {{ user.username }}'s watchlist</button></a>
        {% endif %}
        <hr class="solid">
      <!-- Make a bid -->
        <form action="" method="POST">
          <button class="button is-primary" type="submit">Make a bid</button>
        </form>
    </div>
    {% endif %}
  </div>

  <div class="listing-image">
          <img src="{{ listing.item.photo_url }}" alt="Listing Photo" width="500" height="500">
  </div>

  {% else %}
    <p>This item does not exist</p>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="comments">
      <h2>Comments</h2>
      <form action="" method="POST">
        {% csrf_token %}
        {{ create_comments_form.as_p }}
        <button class="button is-primary" type="submit">Add comment</button>
    </form>
      {% for comment in comments %}
    <div class="comment-detail">
        <p>{{ comment.detail }}</p>
        <p>Posted on: {{ comment.date_created }} by {{comment.userid }}</p>
    </div>
{% endfor %}
    </div>
  {% else %}
      Sign in to see comments and bids
  {% endif %}

{% endblock %}